#home-about {
	margin-bottom: 1em;
	.card {
		position: relative;
		box-shadow: none;
		border: 0;
		padding: 0;
		padding-bottom: 32%;
		border-radius: 0;
		.card-image {
			padding-bottom: 3%;
		}
		.card-body {
			position: absolute;
			padding: 0 0 32% 0;
			height: 0;
			.codeblock {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				padding-left: 0.2%;
				font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
				font-style: normal;
				font-variant: normal;
				font-size: 10pt;
				color: white;
				color: #DDD;
				background-color: #272822;
				white-space: nowrap;
				p {
					margin: 0;
					padding: 0;
				}
			}
			.image-vertical-align {
				right: 4%;
				width: 27%;
			}
		}
	}
}
