div, form, th, td, tr, img, span, ul, ol, li, hr, p {
    box-sizing: border-box;
}
img {
    width: 100%;
    max-height: 100%;
}
html, body {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    min-height: 100%;
    overflow: auto;
}
body {
    background-color: #f5f5f5;
    background: url(/assets/img/bg_net.jpg) repeat;
    color: #272822;
    font-size: 14pt;
    font-family: Verdana, Geneva, sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}
h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
    padding: 0;
    line-height: 150%;
    font-weight: normal;
    font-family: 'Merriweather Sans', sans-serif;
    box-sizing: border-box;
}
h1 {
    font-size: 2.6em;
    line-height: 130%;
}
h2 {
    font-size: 2.2em;
    line-height: 120%;
}
h3 {
    font-size: 1.8em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
h6 {
    font-size: 1em;
}
p {
    margin: 15px 0;
    padding: 0;
    line-height: 125%;
}
header {
    background-image: linear-gradient(180deg, #4b4c4d 25%, #606060 75%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
footer {
    background-image: linear-gradient(180deg, #3b3b3b 25%, #404041 75%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

a.button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  padding: 2px 8px;
  background: #eee;
  border-radius: 4px;
  border: 1px solid #ccc;

  color: inherit;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  font-family: sans-serif;

  &:link, &:visited, &:hover, &:focus, &:active{
    color: black;
    text-decoration: none;
  }
}

#main {
  position: relative;
  min-width: $content-width;
  min-height: $content-height;
  background-color: white;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
}

#nav-bar {
  position: relative;
  max-width: $content-width;
  border-top: 0px;
  text-align: center;
  background-color: white;
  background-image: linear-gradient(180deg, #4b4c4d 25%, #606060 75%);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  font-size: 12pt;
  padding: 0;
  ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
          float: left;
          a, a:visited, a:hover, a:active {
              margin: 5px 0;
              padding: 5px 15px;
              display: inline-block;
              border: 0;
              font: inherit;
              vertical-align: baseline;
              text-decoration: none;
              color: #e1e1e1;
              color: #DDD;
              border-right: 2px solid #80ba42;
              cursor: pointer;
          }
          &:first-child a {
              border-left: 0;
          }
          &:last-child a {
              border-right: 0;
          }
          &.active {
              a {
                  color: #80ba42;
              }
          }
      }
  }
  &::after {
      content: "";
      clear: both;
      display: table;
  }
}

#footer-bar {
    position: relative;
    max-width: $content-width;
    padding: 0.5rem;
    text-align: left;
    background-color: #404041;
    background-image: linear-gradient(180deg, #3b3b3b 25%, #404041 75%);
    color: #DDD;
    
    .copyright {
        padding: 10px 1em;
        font-size: 14px;
        vertical-align: baseline;
        a {
            color: #eaeaea;
            text-decoration: none;
        }
    }
    .logo {
        float: right;
        top: 5px;
        right: 15px; 
        height: 20px;
        cursor: pointer;
        img {
            height: 100%;
            width: auto;
            max-width: 100%;
        }
        span {
            padding: 3px 20px;
            color: #80ba42;
        }
    }
}

.container{
    max-width: 100%;
    margin: auto;
    padding: 5px;
    overflow: hidden;
}
.section {
    margin: auto;
    padding-bottom: 0.5em;
    border-radius: 3px;
}
.background-img {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    background: url(/assets/media/img/net.jpg) repeat;
    opacity: 0.05;
}
.text-right {
  text-align: right;
}