/* max 568 */
h1 {
	font-size: 2.2em;
	line-height: 130%;
}
h2 {
	font-size: 2em;
	line-height: 120%;
}
#nav-bar {

}

.section {
	padding-bottom: 0.5em;
	border-radius: 2px;
}
.section-headline {
	padding: 0.5em 0;
	margin: auto 15px;
}
