.full-width {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}
.no-padding {
	padding: 0;
}
.no-padding-btm {
	padding-bottom: 0;
}
.hidden {
	display: none;
}
.text-center {
	text-align: center; 
}

/* colors */
.putty-green {
	color: $putty-green;
}
.putty-blue {
	color: putty-blue;
}

/* md */
@media (min-width: 769px) AND (max-width: 1024px) {

}

/* sm */
@media (min-width: 569px) AND (max-width: 768px) {

}

/* xs */
@media (min-width: 0) AND (max-width: 568px) {
	.full-width-xs {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
}
