.card {
	padding: 5px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 3px rgba(0, 150, 0, 0.5);
	border-radius: 3px;
	.card-image {
		/* up to 530px */
		width: 100%;
		height: 0px;
		margin: 0px;
		padding: 0px;
		position: relative;
		overflow: hidden;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		box-shadow: 0px 0px 2px 0px rgba(0, 150, 0, 0.2);
		background-color: #FEFEFE;
		img {
			height: auto;
			max-height: none;
			position: absolute;
		}
		&.card-image-5-1 {
			padding-bottom: 20%;
			
		}
		&.card-image-3-1 {
			padding-bottom: 33.3%;
			
		}
		&.card-image-21-9 {
			padding-bottom: 42.8%;
		}
		&.card-image-16-9 {
			padding-bottom: 56.3%;
		}
		&.card-image-1-3 {
			padding-bottom: 66%;
		}
		&.card-image-4-3 {
			padding-bottom: 75%;
		}
	}
	.card-body {
		width: 100%;
		padding: 0 0.5rem;
	}

	/* CARD TYPES */
	
	&.card-small {
		p {
			margin: 1vw 0px;
			padding: 0px;
			text-align: center;
		}
	}

	&.card-float {
		.card-body {
			padding: 0.5rem;
			h4 {
				margin: 5px auto 15px auto;
			}
			img {
				float: left;
				width: 40%;
				border-radius: 2px;
				opacity: 0.9;
				margin-right: 15px;
				margin-bottom: 5px;
			}
			p {
				text-align: justify;
				padding: 0 5px;
				margin: 0;
			}
		}
	}

	&.card-full {
		padding: 0;
		border: 0;
		border-radius: 0;
		box-shadow: none;
	}
}
